In [5]:
# import packages

import sqlalchemy as sa
import pandas as pd
from sqlalchemy import create_engine

In [6]:
engine = create_engine('sqlite:////Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS.db'
                       , echo = True) # sqlite:////absolute/path/to/file.db

In [15]:
query_string = "SELECT * FROM CCS"
df = pd.read_sql(sql=query_string, con=engine)

display(df.head())

2021-03-01 01:32:57,271 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM CCS")
2021-03-01 01:32:57,274 INFO sqlalchemy.engine.base.Engine ()
2021-03-01 01:32:57,279 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM CCS")
2021-03-01 01:32:57,282 INFO sqlalchemy.engine.base.Engine ()
2021-03-01 01:32:57,287 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM CCS
2021-03-01 01:32:57,289 INFO sqlalchemy.engine.base.OptionEngine ()

,Index,Round,Period,City,Age,Gender,Annual Income,Assembly Constituency Name,Educational Qualification,No. of Family Members,...,Perception on essential spending - compared to one year ago,Outlook on essential spending - one year ahead,Perception on non-essential spending - compared to one year ago,Outlook on non-essential spending - one year ahead,Perception on Employment scenario - compared to one year ago,Outlook on Employment scenario - one year ahead,Perception on General prices - compared to one year ago,Outlook on General prices - one year ahead,Perception on Inflation - compared to one year ago,Outlook on Inflation - one year ahead
0,0,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Below graduate,5 and more,...,Increased,Will increase,Increased,Will increase,Improved,Will improve,Increased,Will increase,Increased,Will increase
1,1,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Below graduate,5 and more,...,Increased,Will increase,Decreased,Will decrease,Improved,Will improve,Decreased,Will increase,None,Will increase
2,2,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Graduate & above,5 and more,...,Increased,Will increase,Decreased,Will decrease,Worsened,Remain the same,Increased,Will increase,Increased,Will increase
3,3,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Up to primary,3 or 4,...,Increased,Will increase,Decreased,Will decrease,Improved,Will improve,Increased,Will increase,Increased,Will increase
4,4,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Up to primary,3 or 4,...,Increased,Will decrease,Decreased,Will decrease,Remained the same,Remain the same,Increased,Will increase,Increased,Will increase

In [17]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173640 entries, 0 to 173639
Data columns (total 28 columns):
 #   Column                                                               Non-Null Count   Dtype
---  ------                                                               --------------   -----
 0   Index                                                                173640 non-null  int64
 1   Round                                                                173608 non-null  float64
 2   Period                                                               173608 non-null  object
 3   City                                                                 173608 non-null  object
 4   Age                                                                  173608 non-null  object
 5   Gender                                                               173608 non-null  object
 6   Annual Income                                                        173608 non-null  object
 7   Assembly Constituency Name                                           173608 non-null  object
 8   Educational Qualification                                            173608 non-null  object
 9   No. of Family Members                                                173608 non-null  object
 10  No. of Earning members in the family                                 173607 non-null  float64
 11  Occupation of Respondent                                             173608 non-null  object
 12  Perception on General Economic condition - compared to one year ago  173608 non-null  object
 13  Outlook on General Economic condition - one year ahead               173608 non-null  object
 14  Perception on Household income - compared to one year ago            173608 non-null  object
 15  Outlook on Household income - one year ahead                         173608 non-null  object
 16  Perception on Household spending - compared to one year ago          173608 non-null  object
 17  Outlook on Household spending - one year ahead                       173608 non-null  object
 18  Perception on essential spending - compared to one year ago          173608 non-null  object
 19  Outlook on essential spending - one year ahead                       173608 non-null  object
 20  Perception on non-essential spending - compared to one year ago      173608 non-null  object
 21  Outlook on non-essential spending - one year ahead                   173608 non-null  object
 22  Perception on Employment scenario - compared to one year ago         173608 non-null  object
 23  Outlook on Employment scenario - one year ahead                      173608 non-null  object
 24  Perception on General prices - compared to one year ago              173608 non-null  object
 25  Outlook on General prices - one year ahead                           173608 non-null  object
 26  Perception on Inflation - compared to one year ago                   146904 non-null  object
 27  Outlook on Inflation - one year ahead                                134262 non-null  object
dtypes: float64(2), int64(1), object(25)
memory usage: 37.1+ MB

None