In [1]:
# import packages

import pandas as pd
import sqlalchemy as sa
from sqlalchemy.sql import text
from sqlalchemy import create_engine

In [4]:
engine = create_engine('sqlite:////Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS.db', echo = True) # sqlite:////absolute/path/to/file.db

sql_query = sa.text("SELECT * FROM CCS")
df = pd.read_sql_query(sql_query, con=engine)
display(df.head())

2021-02-24 00:17:21,005 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-24 00:17:21,006 INFO sqlalchemy.engine.base.Engine ()
2021-02-24 00:17:21,007 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-24 00:17:21,007 INFO sqlalchemy.engine.base.Engine ()
2021-02-24 00:17:21,008 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM CCS
2021-02-24 00:17:21,008 INFO sqlalchemy.engine.base.OptionEngine ()

,Index,Round,Period,City,Age,Gender,Annual Income,Assembly Constituency Name,Educational Qualification,No. of Family Members,...,Perception on essential spending - compared to one year ago,Outlook on essential spending - one year ahead,Perception on non-essential spending - compared to one year ago,Outlook on non-essential spending - one year ahead,Perception on Employment scenario - compared to one year ago,Outlook on Employment scenario - one year ahead,Perception on General prices - compared to one year ago,Outlook on General prices - one year ahead,Perception on Inflation - compared to one year ago,Outlook on Inflation - one year ahead
0,0,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Below graduate,5 and more,...,Increased,Will increase,Increased,Will increase,Improved,Will improve,Increased,Will increase,Increased,Will increase
1,1,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Below graduate,5 and more,...,Increased,Will increase,Decreased,Will decrease,Improved,Will improve,Decreased,Will increase,None,Will increase
2,2,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Graduate & above,5 and more,...,Increased,Will increase,Decreased,Will decrease,Worsened,Remain the same,Increased,Will increase,Increased,Will increase
3,3,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Up to primary,3 or 4,...,Increased,Will increase,Decreased,Will decrease,Improved,Will improve,Increased,Will increase,Increased,Will increase
4,4,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Up to primary,3 or 4,...,Increased,Will decrease,Decreased,Will decrease,Remained the same,Remain the same,Increased,Will increase,Increased,Will increase

In [6]:
df_dummy = pd.get_dummies(df)
display(df_dummy)

,Index,Round,No. of Earning members in the family,Period_2015-03-31 00:00:00.000000,Period_2015-06-30 00:00:00.000000,Period_2015-09-30 00:00:00.000000,Period_2015-12-31 00:00:00.000000,Period_2016-03-31 00:00:00.000000,Period_2016-06-30 00:00:00.000000,Period_2016-09-30 00:00:00.000000,...,Perception on General prices - compared to one year ago_Remained the same,Outlook on General prices - one year ahead_Remain the same,Outlook on General prices - one year ahead_Will decrease,Outlook on General prices - one year ahead_Will increase,Perception on Inflation - compared to one year ago_Decreased,Perception on Inflation - compared to one year ago_Increased,Perception on Inflation - compared to one year ago_Remained the same,Outlook on Inflation - one year ahead_Remain the same,Outlook on Inflation - one year ahead_Will decrease,Outlook on Inflation - one year ahead_Will increase
0,0,23.0,2.0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
1,1,23.0,5.0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,2,23.0,3.0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
3,3,23.0,2.0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
4,4,23.0,4.0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173635,5343,46.0,2.0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
173636,5344,46.0,3.0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
173637,5345,46.0,1.0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
173638,5346,46.0,1.0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
173639,5347,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0