In [1]:
# import packages

import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, NVARCHAR
import os
import glob

In [2]:
# create SQL database

engine = create_engine('sqlite:////Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS.db', echo = True) # sqlite:////absolute/path/to/file.db

meta = MetaData()

CCS = Table(
    'CCS', meta
    ,Column('Serial No.', Float)
    ,Column('Round No.', Float)
    ,Column('Period', NVARCHAR)
    ,Column('City', NVARCHAR)
    ,Column('Age', NVARCHAR)
    ,Column('Gender', NVARCHAR)
    ,Column('Occupation of Respondent', NVARCHAR)
    ,Column('Annual Income', NVARCHAR)
    ,Column('No. of Family Members', NVARCHAR)
    ,Column('Education Qualification', NVARCHAR)
    ,Column('Number Of Earning Members', NVARCHAR)
    ,Column('Perception on General Economic Condition – compared to one year ago', NVARCHAR)
    ,Column('Outlook on General Economic Condition – one year ahead', NVARCHAR)
    ,Column('Perception on Household Circumstances – compared to one year ago', NVARCHAR)
    ,Column('Outlook on Household Circumstances – one year ahead', NVARCHAR)
    ,Column('Perception on Household Income – compared to one year ago', NVARCHAR)
    ,Column('Outlook on Household Income – one year ahead', NVARCHAR)
    ,Column('Perception on Household Spending – compared to one year ago', NVARCHAR)
    ,Column('Outlook on Household Spending – one year ahead', NVARCHAR)
    ,Column('Perception on Employment Scenario – compared to one year ago', NVARCHAR)
    ,Column('Outlook on Employment Scenario – one year ahead', NVARCHAR)
    ,Column('Perception on General Price Levels – compared to one year ago', NVARCHAR)
    ,Column('Outlook on General Price Levels – one year ahead', NVARCHAR)
    ,Column('Perception on Inflation – compared to one year ago', NVARCHAR)
    ,Column('Outlook on Inflation – one year ahead', NVARCHAR)
    )

meta.create_all(engine)

2021-02-23 01:20:15,983 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-23 01:20:15,983 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 01:20:15,984 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-23 01:20:15,984 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 01:20:15,984 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("CCS")
2021-02-23 01:20:15,985 INFO sqlalchemy.engine.base.Engine ()

In [3]:
root = r'/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS'

url = []
for root, dirs, files in os.walk(root):
    url += glob.glob(os.path.join(root, '*.xlsx'))
    display(url)

['/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201503.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201811.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201903.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201606.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201309.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201312.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201611.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201703.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_202011.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201406.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201806.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_202007.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201509.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201909.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201905.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201303.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201712.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201705.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201512.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_202001.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201709.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201209.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201706.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201907.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201403.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201803.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201911.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201506.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_202003.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201212.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201603.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201711.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201612.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201805.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201409.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201809.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_202009.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201609.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_202005.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201412.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201812.xlsx',
 '/Users/arpanganguli/Documents/Professional/Projects/SINE/Database/CCS/CCS_201306.xlsx']

In [4]:
for file in url[:5]:
    df = pd.read_excel(file)
    display(df.head(2))

,Serial No.,Unnamed: 1,Round No.,Period,City,Age,Gender,Annual Income,Unnamed: 8,Assembly Constituency Name,...,Perception on essential spending - compared to one year ago,Outlook on essential spending - one year ahead,Perception on non-essential spending - compared to one year ago,Outlook on non-essential spending - one year ahead,Perception on Employment scenario - compared to one year ago,Outlook on Employment scenario - one year ahead,Perception on General prices - compared to one year ago,Outlook on General prices - one year ahead,Perception on Inflation - compared to one year ago,Outlook on Inflation - one year ahead
0,1.0,NaN,23.0,2015-03-31,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,NaN,Batarayanapura,...,Increased,Will increase,Increased,Will increase,Improved,Will improve,Increased,Will increase,Increased,Will increase
1,2.0,NaN,23.0,2015-03-31,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,NaN,Batarayanapura,...,Increased,Will increase,Decreased,Will decrease,Improved,Will improve,Decreased,Will increase,NaN,Will increase

,Serial No.,Round No.,Period,City,Age,Gender,Annual Income,Unnamed: 7,Assembly Constituency Name,Unnamed: 9,...,Perception on essential spending - compared to one year ago,Outlook on essential spending - one year ahead,Perception on non-essential spending - compared to one year ago,Outlook on non-essential spending - one year ahead,Perception on Employment scenario - compared to one year ago,Outlook on Employment scenario - one year ahead,Perception on General prices - compared to one year ago,Outlook on General prices - one year ahead,Perception on Inflation - compared to one year ago,Outlook on Inflation - one year ahead
0,1.0,45.0,2018-11-30,Ahmedabad,22-29 year,Female,Rs. 1 lakh or less,NaN,Amaraiwadi,NaN,...,Increased,Will increase,Increased,Will increase,Improved,Will improve,Remained the same,Remain the same,NaN,NaN
1,2.0,45.0,2018-11-30,Ahmedabad,22-29 year,Female,Rs. 1 lakh or less,NaN,Amaraiwadi,NaN,...,Increased,Will increase,Increased,Remain the same,Remained the same,Will improve,Remained the same,Will increase,NaN,Remain the same

,Serial No.,Round No.,Period,City,Age,Gender,Annual Income,Unnamed: 7,Assembly Constituency Name,Unnamed: 9,...,Perception on essential spending - compared to one year ago,Outlook on essential spending - one year ahead,Perception on non-essential spending - compared to one year ago,Outlook on non-essential spending - one year ahead,Perception on Employment scenario - compared to one year ago,Outlook on Employment scenario - one year ahead,Perception on General prices - compared to one year ago,Outlook on General prices - one year ahead,Perception on Inflation - compared to one year ago,Outlook on Inflation - one year ahead
0,1.0,47.0,2019-03-31,Ahmedabad,22-29 year,Female,Rs. 1 lakh or less,NaN,Amaraiwadi,NaN,...,Remained the same,Will increase,Remained the same,Will decrease,Improved,Will improve,Decreased,Will increase,NaN,Will increase
1,2.0,47.0,2019-03-31,Ahmedabad,22-29 year,Female,Rs. 1 lakh or less,NaN,Amaraiwadi,NaN,...,Increased,Will increase,Remained the same,Will increase,Improved,Will improve,Increased,Will increase,Increased,Will increase

,Serial No.,Round No.,Period,City,Age,Gender,Annual Income,Unnamed: 7,Assembly Constituency Name,Unnamed: 9,...,Perception on essential spending - compared to one year ago,Outlook on essential spending - one year ahead,Perception on non-essential spending - compared to one year ago,Outlook on non-essential spending - one year ahead,Perception on Employment scenario - compared to one year ago,Outlook on Employment scenario - one year ahead,Perception on General prices - compared to one year ago,Outlook on General prices - one year ahead,Perception on Inflation - compared to one year ago,Outlook on Inflation - one year ahead
0,1.0,31.0,2016-06-30,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,NaN,Adugodi,NaN,...,Increased,Will increase,Increased,Will increase,Improved,Will improve,Increased,Will increase,Increased,Will increase
1,2.0,31.0,2016-06-30,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,NaN,Bangalore,NaN,...,Increased,Will increase,Decreased,Will increase,Worsened,Remain the same,Increased,Will increase,Increased,Will increase

,Serial No,Round No.,Period,City,Age,Gender,Occupation of Respondent,Annual Income,No. of Family Members,Education Qualification,...,Perception on Household Income – compared to one year ago,Outlook on Household Income – one year ahead,Perception on Household Spending – compared to one year ago,Outlook on Household Spending – one year ahead,Perception on Employment Scenario – compared to one year ago,Outlook on Employment Scenario – one year ahead,Perception on General Price Levels – compared to one year ago,Outlook on General Price Levels – one year ahead,Perception on Inflation – compared to one year ago,Outlook on Inflation – one year ahead
0,1.0,14.0,SEP-13,Delhi,30-39,Female,House wife,Rs. 1 - 3 lakhs,3 or 4,Below Graduate,...,Increased,Increase,Increased,Neither increase nor decrease,Remained the same,Will improve,Gone up,Will go up,More than last year,More than current year
1,2.0,14.0,SEP-13,Delhi,40-59,Female,House wife,Rs. 1 - 3 lakhs,5 and more,Up to primary,...,Increased,Increase,Increased,Decrease,Worsen,Will Remain the Same,Gone up,Will go up,More than last year,Same as current year